<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>fileman</servlet-name>
        <servlet-class>io.fileman.FilemanServletSupport</servlet-class>
        <init-param>
            <param-name>root</param-name>
            <param-value>D:\</param-value>
        </init-param>
        <init-param>
            <param-name>synthesizer</param-name>
            <param-value>io.fileman.RenderSynthesizer</param-value>
        </init-param>
        <init-param>
            <param-name>formatter</param-name>
            <param-value>io.fileman.formatter.HtmlFormatter</param-value>
        </init-param>
        <init-param>
            <param-name>fields</param-name>
            <param-value>
                name, size, time, type, etag
            </param-value>
        </init-param>
        <init-param>
            <param-name>interceptors</param-name>
            <param-value>security</param-value>
        </init-param>
        <init-param>
            <param-name>security-config-location</param-name>
            <param-value>/fileman-security.xml</param-value>
        </init-param>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileman</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
